{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <title>Maplestory in Django</title>

    <script
      src="https://kit.fontawesome.com/37c6d1b1d7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <div class="section-login">
    <div class="login-card">
      <div class="login-nav">
        <ul>
          <li>
            <a class="button-login-active" href="/login">LOG IN</a>
          </li>
          <li>
            <a class="button-register" href="/login"
              >CREATE AN ACCOUNT</a
            >
          </li>
        </ul>
      </div>
      <div class="login-container">
        <div class="login-form">
          <h5>Log in to Your Nexon Account</h5>
          <input
            type="text"
            class="login-input"
            placeholder="Email Address or Nexon ID"
          /><button>CONTINUE</button>
          <li class="login-trouble">
            <a href="/login">Trouble Logging in?</a>
          </li>
          <div class="login-captcha">
            This site is protected by reCAPTCHA Enterprise and the
            Google
            <a href="https://policies.google.com/privacy?hl=en">
              Privacy Policy
            </a>
            and
            <a href="https://policies.google.com/terms?hl=en">
              Terms of Service
            </a>
            apply.
          </div>
        </div>
        <div class="login-social">
          <ul>
            <button class="button-google">
              <i class="fa-brands fa-google"></i>
              Continue with Google
            </button>
            <button class="button-facebook">
              <i class="fa-brands fa-square-facebook"></i>Continue
              with Facebook
            </button>
            <button class="button-apple">
              <i class="fa-brands fa-apple"></i>Continue with Apple
            </button>
            <button class="button-twitter">
              <i class="fab fa-twitter"></i> Continue with Twitter
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</html>
