{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>First Wagtail Website</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    {% if request.in_preview_panel %}
    <base target="_blank" />
    {% endif %} {# Global stylesheets #}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/mysite.css' %}"
    />

    {% block extra_css %} {# Override this in templates to add extra
    stylesheets #} {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %} {% block content %}{% endblock %}
    <script
      type="text/javascript"
      src="{% static 'js/mysite.js' %}"
    ></script>

    {% block extra_js %} {% endblock %}
  </body>
</html>
